{% extends 'base.html' %}
{% load static %}

{% block title %} Blogs {% endblock %}


{% block content %}

<div class="headcontent">
    <div>
        <img src="{{ article.header_image.url }}">
        <h2>{{ article.title }}</h2> 
        <h4> Category: {{ article.category }} </h5>
        <p> {{ article.category.description }} </p>
        <h3> Created by {{article.author.display_name}}</h3>
    </div>
    <p>
        Created on: {{ article.created_on }}<br>
        Last Updated: {{ article.updated_on }}
    </p>

</div>
    <p>
    {{ article.entry }}
    </p>
    <a href="{% url 'blog:article_list' %}">
    <button type="Submit"><p>Back</p></button></a>
    {% if user.profile == article.author %}
    <a href="{% url 'blog:article_update' article.pk%}">
    <button type="Submit"><p>Update Information</p></button></a>
    {% endif %}

    

    <section class="comment_post">
        {% if user.is_authenticated %}
            <h3> Leave a comment! </h3>
            <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
            </form>
        {% else %}
            <h3> Login to post a comment!</h3>
         {% endif %}
    </section>

    <section class="comments_display">
        <h3>Comments</h3>
        <div class="comments_row">
            {% for comment in article.comment_set.all %}
                <div class="comments">
                    <h4>{{ comment.author }} at {{ comment.created_on }} </h4>
                    <p>{{ comment.entry }}</p>
                </div>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
        </div>
    </section>

    <section class="other_articles">
        <div>
            <h3>Check out this author's other articles!</h3>
            <ol>
                {% for article in read_more %}
                    <li><a href='{{article.get_absolute_url }}'>{{article.title}}</a></li>
                {% endfor %}
            </ol>
        
        </div>
    </section>

    <a href="{% url 'blog:article_list' %}">
    <button type="Submit"><p>Back to Blog List</p></button></a>
    
{% endblock %}
