{% extends 'base.html' %}

{% block title %}User Dashboard{% endblock %}
{% block styles %}
<style>
    section{
        background-color: #F8DEDF;
        padding: 4rem;
        border-radius: 5rem;
        box-shadow: 4px 4px 5px #9FA881;
        width:40%;
        transform: translate(75%, 30%);
    }
    h1{
        color: #434D20;
    }
</style>
    
{% endblock %}

{% block content %}
    <section>
    <h1>Profile</h1>
        <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Submit">
        </form>
    </section>
{% endblock %}
