{% extends 'base.html' %}
{% load static %}
{% block styles %}
<style>
    h1, h2, p{ 
        color: #434D20;
    }
    section{
        background-color: #F8DEDF;
        padding: 2rem;
        border-radius: 2rem;
        box-shadow: 4px 4px 5px #9FA881;
        width:40%;
        transform: translate(75%, 20%);
        text-align: center;
      }
</style>
{% endblock %}

{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<section>
    <h2> Password Reset Complete! </h2>
    <p> Your password has been set. <p>
<a href="{% url 'login' %}">
    <button type="Submit">Log In</button></a><br> 
    </section>
{% endblock %}