{% extends 'base.html' %}
{% load static %}

{% block styles %}
<style>
    section{
        background-color: #F8DEDF;
        padding: 2rem;
        border-radius: 2rem;
        box-shadow: 4px 4px 5px #9FA881;
        width:40%;
        transform: translate(75%, 20%);
        text-align: center;
      }

</style>
{% endblock %}

{% block content %}
<section>
<h2 style="color:#434d20;">Email has been sent!</h2>
<p>Please click the link sent to reset your password.<p/>
</section>
{% endblock %}