{% extends 'base.html' %}
{% load static %}
{% block title %} Password Reset {% endblock %}
{% block styles %}
<style>
  section{
    background-color: #F8DEDF;
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 4px 4px 5px #9FA881;
    width:40%;
    transform: translate(75%, 20%);
  }
  .form{
    display: flex;
  }
  h2{
    margin: 0;
    color: #434D20;
    }

</style>

{% endblock %}

{% block content %}
<section>
<h2>Log In</h2><br>
<div class="form">
{% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    {% endfor %}
{% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset</button>
    </form>
  </div>
  <br>
    <a href="{% url 'login' %}">
      <button type="Submit">Back</button></a><br> 
 
  </section>
{% endblock %}
