{% extends 'base.html' %}
{% load static %}{% block styles %}

{% block title %} Password Reset {% endblock %}
{% endblock %}

{% block content %}
{% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    {% endfor %}
{% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Reset</button>
    </form>
    <a href="{% url 'login' %}">
        <button type="Submit">Back</button></a><br>  
{% endblock %}