{% extends 'base.html' %}
{% load static %}{% block styles %}

<style>
    h1, h2, p, li{
        color:#434d20;
    }
    input{
      padding: 0.4rem 0.5rem;
      border-radius: 4px;
      border:1px dotted #9FA881;
      background-color: #FFFFE8;
      color:#434d20;
  }
  section{
    background-color: #F8DEDF;
    padding: 5rem;
    border-radius: 5rem;
    box-shadow: 4px 4px 5px #9FA881;
    width:60%;
    transform: translate(35%, 15%);
  }
  button{
    width: 7.5rem;
  }
</style>
{% endblock %}

{% block content %}
<section>
  <h2> Change your Password </h2>
  {% if validlink %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Change Password</button>
  </form>
  {% else %}
  <p>
    Invalid password reset link!
  </p>
  {% endif %}
  </form>
</section>
{% endblock %}
