{% extends 'base.html' %}
{% load static %}{% block styles %}

<style>
    input{
        background-color:#434d20; 
        color:#FFFFE8;
        font-weight: 700;
        border: 1px solid black;
    }
    h1, h2, p, li{
        color:#434d20;
    }
</style>
{% endblock %}

{% block content %}
<h1> Hobbysite </h1>
  <hr>
  <h2> Change your Password </h2>
  {% if validlink %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Change password">
  </form>
  {% else %}
  <p>
    Invalid password reset link!
  </p>
  {% endif %}
  </form>
{% endblock %}
