{% extends 'base.html' %}
{% load static %}

{% block title %} {{ article.title }} {% endblock %}


{% block content %}

<header>
    <img src="{{ article.header_image.url }}">
    <h1>{{ article.title }}</h1> 
    <section class = 'category'>
        <h4> Category: {{ article.category }} </h4>
        <p> {{ article.category.description }} </p>
    </section>
    <section class = 'author'>
        <h4> Created by {{ article.author.display_name }} on {{ article.created_on }}</h4>
        <p> Last Updated: {{ article.updated_on }} </p>
    </section>
</header>

<main>
    <article>
        <section class = 'article'>
            <p> {{ article.entry }} </p>
            <aside>
                {% if user.profile == article.author %}
                    <a href="{% url 'wiki:wiki_list' %}">
                    <button type="Submit"><p>Back to List</p></button></a>
                    <a href="{% url 'wiki:wiki_update' article.pk%}">
                    <button type="Submit"><p>Update Information</p></button></a>
                {% else %}
                    <a href="{% url 'wiki:wiki_list' %}">
                    <button type="Submit"><p>Back to List</p></button></a>   
                {% endif %}
            </aside>
        </section>

        <section class = 'comment_entry'>
            <h3> Leave a comment! </h3>
            {% if user.is_authenticated %}
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
                </form>
             {% endif %}
        </section>
        
        <section class="comments_display">
            <h3>Comments:</h3>
            <div class="comments_row">
                {% for comment in article.comment.all %}
                    <div class="comments">
                        <h4>{{ comment.author }} at {{ comment.created_on }} </h4>
                        <p>{{ comment.entry }}</p>
                    </div>
                {% empty %}
                    <p>No comments yet.</p>
                {% endfor %}
            </div>
        </section>

        <section class = 'others'>
            <h2>Read more:</h2>
            {% for article in read_more %}
                <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
            {% endfor %}
        </section>

</main>
{% endblock %}