{% extends 'base.html' %}

{% block title %} Wiki List {% endblock %}

{% block content %}
<header>
    <h1>Online Wiki</h1>
</header>

<main>
    <article>
        <section class = 'list'>
            {% if user.is_authenticated %}
                <h3>Your Articles:</h3>
                <ol>
                    {% for article in user_articles %}
                    <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                    {% endfor %}
                </ol>
            {% else %}
                <h3>Your Articles:</h3>
                <p> Login to view your articles!</p>
            {% endif %}
        </section>
        
        <section class = 'list'>
            {% if user.is_authenticated %}
                <h3>All Articles:</h3>
                {% for category, article in other_articles.items %} 
                    <strong>{{ category.name }}</strong>
                    <ol>
                        {% for article in article %}
                            <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                        {% endfor %}
                    </ol>
                {% endfor %}
            {% else %}
                <h3>All Articles:</h3>
                {% for category, article in other_articles.items %} 
                    <strong>{{ category.name }}</strong>
                    <ol>
                        {% for article in article %}
                            <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                        {% endfor %}
                    </ol>
                {% endfor %}
            {% endif %}
        </section>
    </article>
</main>

<aside>
    <a href="{% url 'wiki:wiki_create' %}"><button> Add a New Wiki Post </button></a> 
</aside>
{% endblock %}