{% extends 'base.html' %}

{% block styles %}
<style>

h5{
    font-family: Nunito Sans;
    font-size:0.75rem; 
    font-weight: 500; 
    color:#4C2E05;
    }
h3{
    color:#434d20;
}
h2,h4,h5, p{
    color:#4C2E05;
}


.headcontent{
    background-color:#434D20;
    padding:1rem 1.5rem 1rem;  
  
}
h1{
    color:#FFFFE8;
}

.content{
    margin: 0rem 3rem 2rem;   
    padding: 1rem;
    background-color:#F8DEDF;
    border-radius: 1rem;
    box-shadow: 4px 4px 5px #9FA881;

}
p, h4, h5{
    text-align: left;
    color: #434D20;
}

.content img{
    display: block;
    margin: auto;
    width:50%;
    height:50%
}
.headcontent p{
    font-size: 0.7rem;
    color:#FFFFE8;
}

.gallery{
    background-color: #F8DEDF;
    border-radius: 1rem;
    box-shadow: 4px 4px 5px #9FA881;
}

.gallery p{
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.gallery_image{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0rem 3rem 1rem;   
    padding: 0.5rem;
}

.gallery_image img {
    width: 250px;
    height: auto;
    margin: 10px;
    border-radius: 0.5rem;
    object-fit: cover;
}

.comment p{
    font-size:0.7rem;
    color:#434D20;
}
.comment{
    background-color:#F8DEDF;
    padding: 1rem;
    border-radius: 1rem;
    margin: 0rem 3rem 2rem;   
    box-shadow: 4px 4px 5px #9FA881;
}
.category{
    background-color:#FFFFE8;
    border-radius: 1rem;
    width: 20%;
}
.category>h5{
    text-align: center;
}
.similarthreads{
    margin:1rem 1.5rem 0.3rem;   
}

</style>
{% endblock %}

{% block title %} {{ article.title }} {% endblock %}


{% block content %}
<div class="headcontent">
    <h1>{{ article.title }}</h1> 
    <div class="category">
    <h5 style="padding:0.5rem; width=100%;"><b> {{ article.category }} </b></h5>
    </div>
    <p>
    By:
    {% if object.author %}
         {{ object.author.display_name }}
    {% endif %}
    <br>
        Created on: {{ article.created_on }}<br>
        Last Updated: {{ article.updated_on }}
    </p>
</div>

<br>
<br>

<div class="content">
    <p> {{ article.entry }} </p>
    {% if article.header_image %}
        <img src="{{ article.header_image.url }}">
    {% endif %}
</div>

<div class="gallery">
    <p> Image Gallery: </p>
    <div class="gallery_image">
        {% for image in article.wiki_images.all %}
            <img src="{{ image.image.url }}" alt="Gallery image">
        {% endfor %}
    </div>
    {% if user.profile == article.author %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ image_form.as_p }}
            <input type="submit" value="Submit">
            </form>
    {% endif %}
</div>

{% if user.is_authenticated %}
    {% if thread.author == loggedin_user %}
        <a href="{% url 'wiki:wiki_update' article.pk%}"><button type="Submit">Edit</button></a>
    {% endif %} 
{% endif %}

<br>
<br>

<hr class="newhr2">
<h3 style="margin: 1.5rem;">Comments</h3>
<div class="comment">
    
{% if article.wiki_comment.all %}
        {% for comment in comments %}
            <h4>{{ comment.author.display_name }}</h4>
            <h5>{{ comment.entry }}</h5>
            <p>
            Created on: {{ comment.created_on }}
            <br>
            Updated on: {{ comment.updated_on }}</p><br><hr class="newhr2">
    {% endfor %}
{% else %}
    <h5>No comments yet</h5>
    <hr class="newhr2">
{% endif %}
{% if user.is_authenticated %}
    <h3>Leave a reply</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ comment_form }}
    <br>
    <button type="submit" value="Submit">Submit</button>
{% endif %}
</form>
</div>

<div class="buttons">
    <form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
    </form>
    <a href="{% url 'wiki:wiki_list' %}">
        <button type="Submit">Home</button></a><br>  
</div>

<br>

<hr class="newhr2">
<div class="similarthreads">
    <h3>Similar articles you may like:</h3>
        {% for article in read_more %}
            <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
        {% endfor %}
</div>



</main>
{% endblock %}