/* Font import & base setup */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap');

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}


nav ul {
    list-style: none;
    background-color: #F8BBD0;
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}


nav a {
    color: black;
    font-weight: 600;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
}

nav a:hover {
    background-color: #c46bae;
}

nav button {
    color: black;
    background-color: #CDE990;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
    border: none;
}

nav button:hover {
    background-color: #d990b2;
    cursor: pointer;
}

header h1{
    text-align: center;
    margin: 20px;
    font-size: 60px;
    color: #FFFFE8;
}

.category{
    margin:0px;
    text-align: center;
    color: #4C2E05;
}

.author{
    margin:5px;
    text-align: center; 
    color: #4C2E05;
}

header img{
    display: block;
    margin: auto;
    margin-top: 30px;
    max-width: 90%;
    height: auto;
}
button{
    background-color:#434D20;
    color:#FFFFE8;
    font-weight: 680;
    font-size: 0.75rem;
    border-radius: 0.5rem;
    width: 6rem;
    padding: 0.35rem;
    border:none;
}

body {
   
    background-color:#FFFFE8;
}


a{
    text-decoration:none;
    font-weight: 600;
    color: #434D20;
}
a:visited{
    color:#434D20;
    font-weight: 600;
   
}
a:hover{
    color:#9FA881;
    font-weight: 800;
  
}
a:focus{
    color:#434D20;
    font-weight: 600;
  
}
a:active{
    color:#434D20;
    font-weight: 600;

}

/* main article{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
} */
footer{
    padding:2rem;
    color:#FFFFE8;
    background-color:#434D20;
}
footer h4{
    color: #FFFFE8;
}

.list {
    background-color: #FFFFE8;
    border-radius: 16px;
    border: #A5D6A7;
    border-style: solid;
    padding: 20px;
    width: 800px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    color: #4C2E05;
}

.list h3 {
    text-align: center;
    margin-bottom: 16px;
    color: #f19e9e;
}

.list ol {
    padding-left: 30px;
}

.list li {
    margin-bottom: 5px;
}

.list a {
    color: #333;
    font-weight: 600;
    text-decoration: none;
}

.list a:hover {
    text-decoration: underline;
    color: #C46BAE;
    cursor: pointer;
}

.article {
    background-color: #FFFFE8;
    border-radius: 16px;
    padding: 20px;
    width: 1200px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    color: #4C2E05;
}

.comment_entry {
    margin: 20px;
    text-align: center;
    margin-bottom: 10px;
    color: #4C2E05;
}

.comment_entry p{
    text-align: center;
    color: #4C2E05;
}

.comment_entry input{
    text-align: center;
    border-radius: 8px;
    border: none;
    background-color: #FFD4D4;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

.comment_entry input:hover{
    background-color: #d4a7a7;
    cursor: pointer;
}

.comments_display{
    margin: 10px;
}

.comments_display h3{
    text-align: center;
    margin: 10px;
    color: #4C2E05;
}

.comments_row {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 5px; 
    justify-content: center; 
}

.buttons{
    display:flex;
    gap:0.5rem;
}

.comments{
    width: 300px;
    background-color: #FFFFE8;
    border-radius: 16px;
    border: #A5D6A7;
    border-style: solid;
    padding: 5px;
    background-size: auto;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    word-wrap: break-word; 
    color: #4C2E05;
}

.comments h4{
    margin: 10px;
}

.comments h4, p{
    text-align: center;    
}

.others {
    background-color: #FFFFE8;
    border-radius: 16px;
    border: #A5D6A7;
    border-style: solid;
    padding: 20px;
    width: 800px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    color: #4C2E05;
}


.others ol {
    padding-left: 30px;
}

.others li {
    margin-bottom: 5px;
}
.others h2{
    text-align: center;
}

.others a{
    text-decoration: none;
    color:#4C2E05;
}

.others a:hover{
    color: #d990b2;
}

aside{
    display: flex;
    justify-content:center;
    margin: 20px;
    gap: 20px;
    color: #4C2E05;
}

aside button{
    border-radius: 8px;
    border: none;
    background-color: #FFD4D4;
    padding: 10px;
    cursor: pointer;
    color: #4C2E05;
}

aside button:hover{
    background-color: #d990b2;
    cursor: pointer;
}

textarea {
    background-color: #F8DEDF;
    padding: 1rem 1rem;
    width: 90%;
    /* height: 100px; */
    color:#434d20;
    margin: 10px;
  }

label{
    text-align: center;
    font-size: 15px;
    color: #434d20;
    font-weight: 650;
}
.newhr2{
    border: 0.5px dashed #9FA881;
}
input{
    padding: 0.4rem 0.5rem;
    border-radius: 4px;
    border:1px dotted white;
    color: #FFFFE8;
    background-color:#434d20;
}

