{% extends 'base.html' %}

{% block title %} Threads {% endblock %}

{% block styles %}

    
    <style>
        
        body{
            background-color: #FFFFE8;;
        } 
    </style>

{% endblock %}

{% block content %}
    <div style="display:flex; justify-content:center">
        <h2 style="font-size:2rem">Commissions</h2>
    </div>
    <hr>
    {% if request.user.is_authenticated %}
        <h2>Commissions Created:</h4>
        {% for commission in created_commissions %}
        <br><a href="{{commission.get_absolute_url}}"><span style="text-align: left; width:29%;  display: inline-block; vertical-align: top;">
            {{commission.title}} - Created on {{commission.created}}
        </span>
        <span style="text-align: left; width:70%;  display: inline-block;">
            ({{commission.get_status_display}})
        </span></a><br>
        {% endfor %}
        {% if not created_commissions %}
            <span style="text-align: left; width:70%;  display: inline-block;">
            No Commissions
            </span></a><br>
        {% endif %}
        <button><a href="/commissions/add" style="color:#FFFFE8">Create</a></button>
        <h2>Commissions Applied to:</h4>
        {% for commission in applied_commissions %}
        <br><a href="{{commission.get_absolute_url}}"><span style="text-align: left; width:29%;  display: inline-block; vertical-align: top;">
            {{commission.title}} - Created on {{commission.created}}
        </span>
        <span style="text-align: left; width:70%;  display: inline-block;">
            ({{commission.get_status_display}})
        </span></a><br>
        {% endfor %}
        {% if not applied_commissions %}
            <span style="text-align: left; width:70%;  display: inline-block;">
            No Commissions
            </span></a><br>
        {% endif %}
        <hr>

        <div style="display:flex; justify-content:center">
            <h2 style="font-size:2rem">All Commissions</h2>
        </div>
        
    {% endif %}
    
    <div class="threadslist">
        {% for commission in commissions %}
        <br><a href="{{commission.get_absolute_url}}"><span style="text-align: left; width:29%;  display: inline-block; vertical-align: top;">
            {{commission.title}} - Created on {{commission.created}}
        </span>
        <span style="text-align: left; width:70%;  display: inline-block;">
            ({{commission.get_status_display}})
        </span></a><br>
        {% endfor %}
    </div>
    <hr>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/5qqkDY0gge1iPKsRBgRI0j?utm_source=generator&t=484" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
{% endblock %}
