{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>{% block title %}Title{% endblock %}</title>
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
	{% block styles %}
	{% endblock %}

</head>

<nav>
    <ul>
        <li><a href='{% url 'user_management:index' %}'>Home</a></li>
        <li><a href='{% url 'merchstore:product-list' %}'>Merchandise</a></li>
        <li><a href='{% url 'wiki:wiki_list' %}'>Wiki</a></li>
        <li><a href='{% url 'blog:article_list' %}'>Blog</a></li>
        <li><a href='{% url 'forum:thread_list' %}'>Forum</a></li>
        <li><a href='{% url 'commissions:commission-list' %}'>Commission</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'user_management:dashboard'%}">Dashboard</a></li>
    <form method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
        <li><button type="submit">Logout</button></li>
    </form>
    {% else %}
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <li><button type="submit">Login</button></li>
    </form>
    {% endif %}
    <ul>
</nav>


<body>
	{% block content %}
	{% endblock %}
</body>

</html>