{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<style>
p{
    color: #434d20;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFE8;
    background-color: #434d20;
   
    
}

.header h1{
    font-size: 4rem;
    text-align: center;
   color: #FFFFE8;
    font-weight: 700;
}

.header h3{
    font-weight: 600;
    font-size: 1.5rem;
    color: #FFFFE8;
}

.threadscontent {
    padding: 0rem 1rem;
}

.contentlist {
    padding: 2rem;
    background-color: #F8DEDF;
    border-radius: 2rem;
    margin: 1rem 3.5rem;
    box-shadow: 4px 4px 5px #9FA881;
}
.contentlist > h2, h3, p {
    color: #434d20;
    text-align: left;
}
.content {
    padding: 0rem 1rem;
}

button{
    background-color:#434D20;
    color:#FFFFE8;
    font-weight: 680;
    font-size: 1rem;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.35rem;
    border:none;
}
.navigation{
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    gap: 1.5rem;
    position: sticky;
    top: 0;
    background-color: #434d20;
    border-bottom: 2px dashed #9FA881;
    padding: 10px;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
  }
  .navigation a{
    flex-shrink: 1;
    flex-grow: 1;
}
   
</style>

{% block nav %}
{% endblock %}

<div class="header">
    <h1>Welcome to Our Hobbysite!</h1>
    {% if user.is_authenticated %}
        <h2> Hello {{ request.user.profile.display_name }}! </h2>
    {% else %}
        <a href="{% url 'login'%}"> <button type="Submit" style='background-color: #F8DEDF; color:#434D20; font-size: 1.5rem; width:fit-content;'>Login</button></a>
    {% endif %}
    <h3>Explore!</h3>
</div>
<div class="navigation">
        <a href="{% url 'merchstore:product-list' %}"> <button type="Submit">Merchandise</button></a>
        <a href="{% url 'wiki:wiki_list' %}"> <button type="Submit">Wiki</button></a>
        <a href="{% url 'blog:article_list' %}"> <button type="Submit">Blog</button></a>
        <a href="{% url 'forum:thread_list' %}"> <button type="Submit">Forum</button></a>
        <a href="{% url 'commissions:commission-list' %}"> <button type="Submit">Commission</button></a>
        {% if user.is_authenticated %}
            <a href="{% url 'user_management:dashboard'%}"> <button type="Submit">Dashboard</button></a>
        {% endif %}
</div>
<br>

<section class="contentlist">
    <h2>Merchandise</h2>
    <hr class="newhr2">
    <div class="content">
        {% for product in latest_products %}
            <p><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></p>
        {% empty %}
            <p>No posted products yet.</p>
        {% endfor %}
    </div>

    <br>

    <h2>Wiki</h2>
    <hr class="newhr2">
    <div class="content">
        {% for wiki in latest_wikis %}
            <p><a href="{{ wiki.get_absolute_url }}">{{ wiki.title }}</a></p>
        {% empty %}
            <p>No posted wikis yet.</p>
        {% endfor %}
    </div>

    <br>

    <h2>Blog</h2>
    <hr class="newhr2">
    <div class="content">
        {% for blog in latest_blogs %}
            <p><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></p>
        {% empty %}
            <p>No posted blogs yet.</p>
        {% endfor %}
    </div>

    <br>

    <h2>Forum</h2>
    <hr class="newhr2">
    <div class="content">
        {% for thread in latest_threads %}
            <p><a href="{{ thread.get_absolute_url }}">{{ thread.title }}</a></p>
        {% empty %}
            <p>No posted threads yet.</p>
        {% endfor %}
    </div><br>

    <h2>Commision</h2>
    <hr class="newhr2">
    <div class="content">
        {% for commission in latest_commisions %}
            <p><a href="{{ commission.get_absolute_url }}">{{ commission.title }}</a></p>
        {% empty %}
            <p>No posted commissions yet.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}