{% extends 'base.html' %}

<title>{% block title %}Product List{% endblock %}</title>

{% block content %}

    <h2>
        Available products:
    </h2>
    <ul>
        {% for item in object_list %}
            <li>
               
                <span style="text-align: left; width:49%; display: inline-block;"> 
                    <a href="{{item.get_absolute_url}}">{{item.name}}</a>
                </span>
                
                <span style="text-align: right; width:50%;  display: inline-block;">
                    ({{item.price}})
                </span>

                <!--
                    The above code snippet makes use of
                    https://stackoverflow.com/questions/12438339/how-may-i-align-text-to-the-left-and-text-to-the-right-in-the-same-line
                -->
            </li>

        {% endfor %}
    </ul>
{% endblock %}