{% extends 'base.html' %}
{% load static %}

<title>{% block title %} Product {{object.name}}{% endblock %}</title>

{% block content %}

    <h1>
        {{ object.name }}
    </h1>

    <span style="text-align: left; width:49%;  display: inline-block;">
        Price:
    </span>
    <span style="text-align: left; width:50%;  display: inline-block;">
        {{object.price}}
    </span>

    <span style="text-align: left; width:49%;  display: inline-block;">
        Product Type:
    </span>
    <span style="text-align: left; width:50%;  display: inline-block;">
        {{object.productType}}
    </span>

    <span style="text-align: left; width:49%;  display: inline-block;">
        Description:
    </span>
    <span style="text-align: left; width:50%;  display: inline-block;">
        {{object.description}}
    </span>

    <!--
        The above code snippet makes use of
        https://stackoverflow.com/questions/12438339/how-may-i-align-text-to-the-left-and-text-to-the-right-in-the-same-line
    -->

    <br><br> <a href="{% url 'merchandise_store:product-list' %}">{{"<--- Back to full item list"}}</a>

{% endblock %}