{% extends 'base.html' %}

<title>{% block title %}Product List{% endblock %}</title>

{% block styles %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

    @font-face {
        font-family: "Nunito Sans", sans-serif;
        src: url("nunito-sans.woff2") format("woff2 supports variations"),
            url("nunito-sans.woff2") format("woff2-variations");
        font-weight: 200 1000;
    }

    a {
        text-decoration: none;
        font-family: "Nunito Sans";
        color: black;
    }

    a:visited {
        color: black;
    }

    a:hover {
        font-style: italic
    }

    a:focus {
        color: black;
    }

    a:active {
        color: black;
    }

    body {
        font-family: "Nunito Sans";
        background-color: whitesmoke;
        margin: 3rem;
        color: black;
    }

    /* button {
        background-color: orange;
        color: black;
    } */
</style>
{% endblock %}

{% block content %}
<h2>
    Available products:
</h2>

<button type="submit">
    <p><a href="{% url 'merchstore:create-product' %}">{{"Add a product"}}</a></p>
</button>

<ul style="padding-left: 0;">
    {% for itemType in object_list %}
    <b> {{ itemType.name }} </b>
    <br>
    {{ itemType.description }}
    <br><br>
    <div style="padding-left:20px">
    <span style="text-align: left; width:69%; display: inline-block; vertical-align: top; font-weight: bold;">
        Items
    </span>
    <span style="text-align: right; width:30%;  display: inline-block; vertical-align: top; font-weight: bold;">
        Price
    </span>
    </div>
    <div style="padding-left:40px">
        {% for item in itemType.get_products %}
        <li>
            <span style="text-align: left; width:69%; display: inline-block; vertical-align: top;">
                <a href="{{item.get_absolute_url}}">{{item.name}}</a>
            </span>

            <span style="text-align: right; width:30%;  display: inline-block;  vertical-align: top;">
                ({{item.price}})
            </span>
            <!--
                The code snippet above makes use of
                https://stackoverflow.com/questions/12438339/how-may-i-align-text-to-the-left-and-text-to-the-right-in-the-same-line
                for formatting purposes.
            -->
        </li>
        {% endfor %}
    </div>
    <br>
    <hr>
    <br>
    {% endfor %}
</ul>

Song of the Day:
<iframe style="border-radius:12px"
    src="https://open.spotify.com/embed/track/5xspW6L8pnfE2MtsX3eDia?utm_source=generator" width="100%" height="152"
    frameBorder="0" allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
{% endblock %}