{% extends 'base.html' %}

<title>{% block title %} Transaction List {% endblock %}</title>

{% block styles %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

    @font-face {
        font-family: "Nunito Sans", sans-serif;
        src: url("nunito-sans.woff2") format("woff2 supports variations"),
            url("nunito-sans.woff2") format("woff2-variations");
        font-weight: 200 1000;
    }

    a.transactionDetail {
        text-decoration: none;
        font-family: "Nunito Sans";
        color: black;
    }
    
    a.transactionDetail:hover{
        font-style: italic;
        color: #C46BAE;
    }

    a.menu {
        text-decoration: none; 
        color: #FFFFE8;
    }

    a.menu:hover {
        font-style: italic;
        color: #FFFFE8
    }

    body {
        font-family: "Nunito Sans";
        background-color: #FFFFE8;
        margin: 3rem;
        color: black;
    }

    button.bottomNav {
        color: #FFFFE8;
        background-color: #434D20;
        font-weight: 600;
        padding: 10px;
        border-radius: 8px;
        border: none;
        width: 200px;
    }

    .stickyMenu {
        position: sticky;
        top: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        padding-top: 4px;
        padding-bottom: 4px;

        background: #434D20;
        color: #FFFFE8;
        /* 
            references: 
            https://www.w3schools.com/HOWTO/howto_js_sticky_header.asp 
            https://www.w3schools.com/css/css3_flexbox_container.asp
        */
    }

    .listContent {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

</style>
{% endblock %}

{% block content %}

    <br>
    <div class="stickyMenu">
            <div><a class="menu" href="{% url 'merchstore:create-product' %}">{{"Add a product"}}</a></div>
            <div><a class="menu" href="{% url 'merchstore:cart' %}">{{"View cart"}}</a></div>
            <div><a class="menu" href="{% url 'merchstore:transactions-list' %}">{{"View transactions"}}</a></div>
    </div>

    {% if user.is_authenticated%}

        {% if user_has_transactions%}
            <ul style="padding-left: 0;">
                <h2>Your Transactions:</h2>
                
                {% for buyer, transactionList in seller_transactions.items %}
                    <b> Buyer: {{ buyer.display_name }} </b>
                    <br><br>

                    <div style="padding-left: 20px; margin:auto;">
                        <div class="listContent">
                            <div>
                                <b>Items</b>
                                {% for transaction in transactionList %}
                                <br><a class="transactionDetail" href="{{transaction.get_absolute_url}}">{{transaction.product.name}}</a>
                                {% endfor %}
                            </div>
                            <div>
                                <b>Price per piece</b>
                                {% for transaction in transactionList %}
                                <br>{{transaction.product.price}}
                                {% endfor %}
                            </div>
                            <div>
                                <b>Quantity</b>
                                {% for transaction in transactionList %}
                                <br>{{transaction.amount}}
                                {% endfor %}
                            </div>
                            <div>
                                <b>Start of transaction</b>
                                {% for transaction in transactionList %}
                                <br>{{transaction.created_on}}
                                {% endfor %}
                            </div>
                            <div>
                                <b>Status</b>
                                {% for transaction in transactionList %}
                                <br>{{transaction.status}}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <br>
                    <hr>
                    <br>
                {% endfor %}
            </ul>    
        {% else %}
            <p style="text-align: left;">You have no seller transactions.</p>
        {% endif %}

    {% else %}
        Please log in to view your seller transactions.
    {% endif %}

    <button type="submit" class="bottomNav">
        <p><a class="menu" href="{% url 'merchstore:product-list' %}">{{"Back to full item list"}}</a></p>
    </button>

{% endblock %}